<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='images/favicon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Flask App Blueprint">
          Flask App Blueprint
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item {% if request.path == url_for('items.all_items') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('items.all_items') }}">All Items</a>
          </li>
          <li class="nav-item {% if request.path == url_for('items.add_item') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('items.add_item') }}">Add Items</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{current_user.email}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('users.user_profile') }}">My Profile</a>
              {% if current_user.role == "admin" %}
              <a class="dropdown-item" href="{{ url_for('users.admin_view_users') }}">View Users (Admin)</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('users.logout') }}">Log Out</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item {% if request.path == url_for('users.register') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
          </li>
          <li class="nav-item {% if request.path == url_for('users.login') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('users.login') }}">Log In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      {% for primary_message in get_flashed_messages(category_filter=["primary"]) %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{ primary_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% for secondary_message in get_flashed_messages(category_filter=["secondary"]) %}
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ secondary_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% for success_message in get_flashed_messages(category_filter=["success"]) %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% for danger_message in get_flashed_messages(category_filter=["danger"]) %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ danger_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% for warning_message in get_flashed_messages(category_filter=["warning"]) %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ warning_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% for info_message in get_flashed_messages(category_filter=["info"]) %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ info_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>

    <div class="container">
      <div class="mt-5">
        <h1>{{ self.title() }}</h1>
        <hr>
      </div>
      {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="container" style="margin-top:250px">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link active" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">FAQ</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Contact / Feedback</a></li>
        </ul>
        <p class="text-center"><a href="https://github.com/jelmerdejong/flask-app-blueprint">Created by Flask App Blueprint.</a></p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
