{% extends "_base.html" %}
{% block title %}Add Item{% endblock %}
{% from "_formshelper.html" import render_field %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <form action="{{ url_for('items.add_item') }}" method="post" name="itemsform">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.name.label }}
          {{ render_field(form.name, class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.notes.label }}
          {{ render_field(form.notes, class="form-control") }}
        </div>
        <input type="submit" value="Add Item" class="btn btn-lg btn-success">
    </form>
  </div>
  <div class="col-md-6">
    <h4>On adding items</h4>
    <p>If you need hep, provide it here.</p>
  </div>
</div>

{% endblock %}
