{% extends "_base.html" %}
{% from "_formshelper.html" import render_field %}
{% block title %}Admin: All Users{% endblock %}

{% block content %}

<div class="row">
  <table class="table table-striped" id="admin_list_of_users">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Registration Date</th>
        <th>Email Confirmed?</th>
        <th>Email Confirmed On</th>
        <th>Last Login</th>
        </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td> {{ user.id }} </td>
          <td> {{ user.email }} </td>
          <td> {{ user.role }} </td>
          <td> {{ user.registered_on }} </td>
          <td> {{ user.email_confirmed }} </td>
          <td> {{ user.email_confirmed_on }} </td>
          <td> {{ user.last_logged_in }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
