{% extends "_base.html" %}
{% from "_formshelper.html" import render_field %}
{% block title %}Admin: All Users{% endblock %}

{% block content %}

<table class="table table-stripe">
  <thead>
    <tr>
      <th class="border-top-0">User ID</th>
      <th class="border-top-0">Email</th>
      <th class="border-top-0">Role</th>
      <th class="border-top-0">Registration Date</th>
      <th class="border-top-0">Email Confirmed?</th>
      <th class="border-top-0">Email Confirmed On</th>
      <th class="border-top-0">Last Login</th>
      </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td> {{ user.id }} </td>
        <td> {{ user.email }} </td>
        <td> {{ user.role }} </td>
        <td> {{ user.registered_on }} </td>
        <td> {{ user.email_confirmed }} </td>
        <td> {{ user.email_confirmed_on }} </td>
        <td> {{ user.last_logged_in }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
