{% extends "_base.html" %}
{% block title %}All Items{% endblock %}
{% block content %}

{% if items[0] == NULL %}
<div class="panel-body">
  <p>No items are added yet, <a href="{{ url_for('items.add_item') }}">add a new item</a>.</p>
</div>
{% else %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>
        {{ item.notes }}
        <a href="{{ url_for('items.edit_item', items_id=item.id) }}">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
