{% extends "_base.html" %}
{% block title %}Edit Item{% endblock %}
{% from "_formshelper.html" import render_field %}
{% block content %}

<div class="content-panel p-4 p-lg-5">
<form action="{{ url_for('items.edit_item', items_id=item.id) }}" method="post" name="edititemsform">
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ render_field(form.name, class="form-control", value=item.name) }}
    </div>
    <div class="mb-4">
      {{ form.notes.label(class="form-label") }}
      {{ render_field(form.notes, class="form-control", value=item.notes) }}
    </div>
    <input type="submit" value="Save Changes" class="btn btn-success">
</form>
</div>

{% endblock %}
