{% extends "_base.html" %}
{% block title %}Change Email Address{% endblock %}
{% from "_formshelper.html" import render_field %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <form action="{{ url_for('users.user_email_change') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.email.label }}
        {{ render_field(form.email, placeholder="Enter New Email Address", class="form-control") }}
      </div>
      <input type="submit" value="Change Email Address" class="btn btn-lg btn-success">
    </form>
  </div>
</div>

{% endblock %}
