{% extends "_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">My Items</h4>
    {% if items[0] == NULL %}
    <p class="card-text">No items are added yet, <a href="{{ url_for('items.add_item') }}">add a new item</a>.</p>
    {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.notes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}
