{% extends "_base.html" %}
{% block title %}Flask App Blueprint{% endblock %}
{% from "_formshelper.html" import render_field %}

{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>Password Change</h2>
  </div>

  <form action="{{ url_for('users.user_password_change') }}" method="POST">
  {{ form.csrf_token }}
    <dl>
      {{ render_field(form.password, placeholder="Enter New Password") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Update</button>
  </form>
</div>

{% endblock %}
