{% extends "_base.html" %}
{% block title %}Change your password{% endblock %}
{% from "_formshelper.html" import render_field %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <form action="{{ url_for('users.reset_with_token', token=token) }}" method="POST">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.password.label }}
        {{ render_field(form.password, class="form-control", placeholder="New Password") }}
      </div>
      <input type="submit" value="Change Password" class="btn btn-lg btn-success">
    </form>
  </div>
</div>

{% endblock %}
