{% extends "_base.html" %}
{% block title %}Get started with a free account{% endblock %}
{% from "_formshelper.html" import render_field %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <form action="{{ url_for('register') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.email.label }}
          {{ render_field(form.email, class="form-control", placeholder="Email address") }}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ render_field(form.password, class="form-control", placeholder="Password") }}
        </div>
        <div class="form-group">
          {{ form.confirm.label }}
          {{ render_field(form.confirm, class="form-control", placeholder="Confirm password") }}
        </div>
        <input type="submit" value="Get Started!" class="btn btn-lg btn-success">
    </form>
  </div>
  <div class="col-md-6">
    <h3>Start your new MVP today!</h3>
    <h4>Flask App Blueprint: focus on your unique idea.</h4>
    <p>With Flask App Blueprint you have a simple to start direclty with your idea, without spending way to much time fixing the basics. Get going, start today.</p>
    <p>
      <ul>
        <li>Powerful technology stack (Python, Postgress, Flask, Bootstrap, and more).</li>
        <li>Directly able to go live by deploying to Heroku.</li>
        <li>Register, Login, CRUD to database, public and private posts.</li>
      </ul>
    </p>
    <p></p>
  </div>
</div>

{% endblock %}
