{% extends "_base.html" %}
{% block title %}Forgot password{% endblock %}
{% from "_formshelper.html" import render_field %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <form action="{{ url_for('users.reset') }}" method="POST">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.email.label }}
        {{ render_field(form.email, class="form-control", placeholder="Enter your email address") }}
      </div>
      <input type="submit" value="Forgot password" class="btn btn-lg btn-success">
    </form>
  </div>
</div>

{% endblock %}
